.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    border: 2px  solid black;
    line-height: normal;
    margin: 10px;
    width: 300px;
    padding: 10px;
    display: block;
    background: rgba(3, 2, 191, 0.23);
    color: white;
}
body {
    /*background-image: url("https://media.istockphoto.com/photos/abstract-blue-cyan-background-picture-id995719694?k=6&m=995719694&s=612x612&w=0&h=LKoM86RMnmeJe2DSRV4po_nfCycnGQaJK6v16GB-SWo=") !important;*/
    background-image: url("http://free-hd-wall-papers.com/images/image-background/image-background-14.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;

}